[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
requests = "*"
fastapi = "*"
uvicorn = "*"
passlib = {extras = ["bcrypt"], version = "*"}
mongoengine = "*"
jose = "*"
rich = "*"
pandas = "*"
gitpython = "*"
python-dotenv = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
unicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
